<!-- <h1 class="card header bg-primary">Hello {{mensaje}}</h1>
<hr> -->
<!-- <app-counter></app-counter>
<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->
<app-dbz-main-page></app-dbz-main-page>












<!-- <hr> -->
<!-- <table>
  <tr>
    <div class="input-group mb-3">
      <td>
        <span class="input-group-text" id="etiqueta_basic1">Limite superior</span>
        <input type="number" class="form-control" placeholder="introducir limite superior" aria-describedby="etiqueta_basic1">
      </td>
      <td>
        <span class="input-group-text" id="etiqueta_basic2">Limite inferior</span>
        <input type="number" class="form-control" placeholder="introducir limite superior" aria-describedby="etiqueta_basic2">
      </td>
      <td>
        <button (click)="establecerLimites()">Establecer limites</button>
      </td>
    </div>
  </tr>
</table> -->

